

body{
    margin: 10px;
}

.col-form-label{
    background-color: thistle;
    padding: 3px;
}
.search-form-bg-color{
    background-color: coral;
}
.order-customer-bg-color{
    background-color: steelblue;
}